* {
    --font-size-normal: 18px;
    --font-size-normal: 14px;
    --font-size-small: 12px;

    --font-weight-normal: 400;
    --font-weight-bold: 600;

    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    color: var(--fg-1);
}

body {
    --bg-1: rgb(234, 234, 234);
    --bg-2: rgb(243, 243, 243);
    --fg-1: rgb(0, 0, 0);
    --fg-2: rgb(67, 67, 67);
    --fg-3: rgb(110, 110, 110);
    --fg-shadow: rgba(0, 0, 0, 0.3);
    --bg-alt: rgb(77, 77, 77);
    --fg-alt: rgb(255, 255, 255);
    --fg-primary: rgb(92, 30, 143);
    --fg-lines: rgb(63, 63, 63);
    --bg-transp: rgba(0, 0, 0, 0);
    --bg-transp-hl: rgba(0, 0, 0, 0.07);
    --bg-tone-neutral: rgb(219, 219, 219);
    --bg-tone-primary: rgb(216, 206, 238);
    --bg-tone-primary-hl: rgb(196, 186, 214);
    --bg-tone-secondary: rgb(243, 194, 194);
    --bg-primary: rgb(92, 30, 143);
    --bg-primary-hl: rgb(104, 61, 140);
    --bg-secondary: rgb(137, 17, 79);
    --fg-on-primary: rgb(255, 255, 255);

    --bg-key: rgb(206, 206, 206);
    --bg-key-incorrect: rgb(226, 226, 226);
    --bg-correct: rgb(164, 230, 131);
    --bg-present: rgb(255, 215, 141);
    --bg-incorrect: rgb(212, 212, 212);
}

body.dark {
    --bg-1: rgb(23, 23, 23);
    --bg-2: rgb(42, 42, 42);
    --bg-alt: rgb(75, 75, 75);
    --fg-alt: rgb(255, 255, 255);
    --fg-1: rgb(255, 255, 255);
    --fg-2: rgb(209, 209, 209);
    --fg-3: rgb(161, 161, 161);
    --fg-shadow: rgba(255, 255, 255, 0.3);
    --fg-primary: rgb(232, 203, 255);
    --fg-lines: rgb(196, 196, 196);
    --bg-transp: rgba(0, 0, 0, 0);
    --bg-transp-hl: rgba(255, 255, 255, 0.05);
    --bg-tone-neutral: rgb(45, 45, 45);
    --bg-tone-primary: rgb(70, 56, 95);
    --bg-tone-primary-hl: rgb(79, 67, 102);
    --bg-tone-secondary: rgb(91, 41, 41);
    --bg-primary: rgb(100, 59, 134);
    --bg-primary-hl: rgb(111, 65, 151);
    --bg-secondary: rgb(134, 59, 88);
    --fg-on-primary: rgb(255, 255, 255);

    --bg-correct: rgb(65, 120, 39);
    --bg-present: rgb(148, 109, 36);
    --bg-incorrect: rgb(77, 77, 77);
}

body {
    background-color: var(--bg-1);
}

button {
    cursor: pointer;
    -webkit-appearance: none;
}

.flex-v-nw {
    display: flex;
    flex-flow: column nowrap;
}

.flex-h-nw {
    display: flex;
    flex-flow: row nowrap;
}

.jc {
    justify-content: center;
}

.ac {
    align-items: center;
}

.fw {
    width: 100%;
}

.fh {
    height: 100%;
}

.btn {
    margin: 5px 10px;
    padding: 6px 10px;
    font-weight: 600;
    border-radius: 6px;
}

.btn-outlined {
    background-color: var(--bg-transp);
    color: var(--fg-primary);
    border-style: solid;
    border-width: 1px;
    padding: 5px 9px;
    border-color: var(--fg-lines);
}

.btn-outlined:hover {
    background-color: var(--bg-transp-hl);
}

.btn-tonal {
    background-color: var(--bg-tone-primary);
    color: var(--fg-1);
}

.btn-tonal:hover {
    background-color: var(--bg-tone-primary-hl);
}

.btn-primary {
    background-color: var(--bg-primary);
    color: var(--fg-on-primary);
}

.btn-primary:hover {
    background-color: var(--bg-primary-hl);
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 2px;
    flex: 1 1;
    height: 40px;
    /* width: 2em; */
    font-weight: 600;
    border-radius: 6px;
    text-transform: capitalize;
    background-color: var(--bg-key);
    color: var(--fg-1);
}

.key-incorrect {
    background-color: var(--bg-key-incorrect);
    color: var(--fg-3);
}

.key-correct {
    background-color: var(--bg-correct)
}

.key-present {
    background-color: var(--bg-present)
}

.key-wide {
    flex: 1.5 1;
}

#keyboard {
    width: min(360px, 100vw);
}

.text-small {
    font-size: var(--font-size-small);
}

.text-big {
    font-size: var(--font-size-big);
}

.text-bold {
    font-weight: var(--font-weight-bold);
}

.logo {
    font-weight: 700;
    font-size: 40px;
}

.logo-b {
    background-color: var(--bg-tone-primary);
    color: var(--fg-1);
    border-radius: 6px;
    height: 1.1em;
    width: 1.1em;
    margin-left: 0.1em;
    transform: rotate(45deg)
}

.card {
    background-color: var(--bg-2);
    border-radius: 10px;
    margin: 5px;
}

.score {
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 700;
    margin: 6px;
    padding: 0px 5px 0px 15px;
    border-radius: 6px;
    background-color: var(--bg-primary);
    color: var(--fg-on-primary);
}

.score-label {
    font-size: 20px;
    font-weight: 600;
    margin: 6px;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: var(--bg-tone-primary);
}

.message {
    margin: 5px 10px;
    padding: 2px 5px;
    border-radius: 6px;
    background-color: var(--bg-tone-neutral);
    font-size: 20px;
}

.board-grid {
    margin: 2%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 0px, 0px;
    width: min(300px, 100vw);
    height: min(360px, calc(100vw * 1.2));
}

.board-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px 0px;
}

.tile {
    background-color: var(--bg-2);
    margin: 5%;
    padding: 0;
    border-radius: 8px;
    position: relative;
}

.tile-letter {
    display: flex;
    padding: 0 0% 10% 0;
    font-size: min(30px, 10vw);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--fg-1);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
}


.tile-faded>.tile-letter {
    color: var(--fg-shadow)
}

.tile-points {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.25em;
    width: 1.25em;
    font-size: min(14px, 4.66vw);
    font-weight: 600;
    background-color: var(--bg-transp);
    color: var(--fg-1);
    border-style: none;
    border-width: 1px;
    border-color: var(--fg-lines);
    position: absolute;
    padding: 0 0 0 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    z-index: 9;
}

.tile-bonus-3 {
    background-color: var(--bg-tone-secondary);
}

.tile-bonus-2 {
    background-color: var(--bg-tone-primary);
}

.tile-points-bonus-3 {
    background-color: var(--bg-tone-secondary);
}

.tile-points-bonus-2 {
    background-color: var(--bg-tone-primary);
}

.tile-points:empty {
    background-color: var(--bg-transp);
}

.correct {
    background-color: var(--bg-correct)
}

.present {
    background-color: var(--bg-present)
}

.incorrect {
    background-color: var(--bg-incorrect)
}