<div class="board-row" x-data="{
        input: [],
        getPoints(l) {
            if (!l) return 0;
            if ('aeioulnstr'.includes(l)) return 1;
            if ('dg'.includes(l)) return 2;
            if ('bcmp'.includes(l)) return 3;
            if ('fhvwy'.includes(l)) return 4;
            if ('k'.includes(l)) return 5;
            if ('jx'.includes(l)) return 8;
            if ('qz'.includes(l)) return 10;
            return 0;
        },
        getPointsText(l, bonus) {
            if (!l) {
                if (bonus != 1) return '×' + bonus;
                return '';
            }
            return this.getPoints(l) * bonus;
        },
        handleKey(key) {
            if(this.input.length < 5 && key.length == 1 && 'qwertyuiopasdfghjklzxcvbnm'.includes(key)) {
                this.input.push(key);
            }
        }
    }" hx-trigger="keydown[key=='Enter'] from:body, keyboard-enter from:body" hx-post="/play" hx-target="#game"
    hx-include="[name='guess']" hx-swap="outerHTML" @keydown.backspace.window="input.pop();"
    @keyboard-backspace.window="input.pop();" @keydown.window='handleKey($event.key);'
    @keyboard-input.window="handleKey($event.detail)">
    {{range span 5}}
    {{- $bonus := index $.Bonus .}}
    <div class="tile {{if ne $bonus 1}}tile-bonus-{{$bonus}}{{end}}">
        <div class="tile-letter" x-text="input[{{.}}]"></div>
        <div class="tile-points" x-text="getPointsText(input[{{.}}], {{$bonus}})"></div>
    </div>
    {{- end}}
    <input type="hidden" name="guess" :value="input.join('')" />
</div>