<!-- uimodels.Keyboard -->

<div id="keyboard" class="flex-v-nw ac jc">
    {{range $row, $keys := .Keys}}
    <div class="flex-h-nw ac jc">
        {{if eq $row (sub (len $.Keys) 1)}}
        <button class="key key-normal key-wide">⌫</button>
        {{end}}
        {{range $keys}}
        <button class="key {{with (index $.KeysStatus .)}}key-{{mapGuessCodeToClass .}}{{end}}"
            @click='$dispatch("keyboard-input", {{printf "%c" .}})'>
            {{printf "%c" .}}
        </button>
        {{end}}
        {{if eq $row (sub (len $.Keys) 1)}}
        <button class="key key-normal key-wide"><span class="text-small">Enter</span></button>
        {{end}}
    </div>
    {{end}}
</div>